<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false">
  <property name="BasePath" value="/xcdhome/logs/msk-inventory" />
  <property name="BaseName" value="msk-inventory" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>[%d{yyyy/MM/dd HH:mm:ss.SSS}][%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="rollingAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${BasePath}/${BaseName}.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${BasePath}/${BaseName}.%d{yyyyMMdd}.%i.log</fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>10MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
      <maxHistory>30</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>[%d{yyyy/MM/dd HH:mm:ss.SSS}][%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
    <append>false</append>
    <prudent>false</prudent>
  </appender>

  <appender name="serviceAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${BasePath}/${BaseName}-service.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${BasePath}/${BaseName}-service.%d{yyyyMMdd}.log</fileNamePattern>
      <maxHistory>30</maxHistory>
    </rollingPolicy>
    <encoder><!-- 必须指定，否则不会往文件输出内容 -->
      <pattern>[%d{yyyy/MM/dd HH:mm:ss.SSS}][%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
    <append>false</append>
    <prudent>false</prudent>
  </appender>

  <logger name="com.msk" level="DEBUG" additivity="true">
    <appender-ref ref="rollingAppender" />
  </logger>
  <logger name="sql" level="DEBUG" additivity="true">
    <appender-ref ref="rollingAppender" />
  </logger>
  <logger name="com.msk.*.rest" level="DEBUG" additivity="true">
    <appender-ref ref="serviceAppender"/>
  </logger>
  <logger name="com.msk.common.utils.RestClientUtil" level="INFO" additivity="true">
    <appender-ref ref="serviceAppender"/>
  </logger>
  <logger name="com.ibatis" level="DEBUG" />
  <logger name="com.ibatis.common.jdbc.SimpleDataSource" level="DEBUG" />
  <logger name="com.ibatis.common.jdbc.ScriptRunner" level="DEBUG" />
  <logger name="com.ibatis.sqlmap.engine.impl.SqlMapClientDelegate" level="DEBUG" />
  <logger name="java.sql.Connection" level="DEBUG" />
  <logger name="java.sql.Statement" level="DEBUG" />
  <logger name="java.sql.PreparedStatement" level="DEBUG" />
  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>