<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false">
  <property name="BasePath" value="/xcdhome/logs/base-server-file" />
  <property name="BaseName" value="base-server-file" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>[%d{yyyy/MM/dd HH:mm:ss.SSS}][%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="rollingAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${BasePath}/${BaseName}.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${BasePath}/${BaseName}.%d{yyyyMMdd}.%i.log</fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>10MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
      <maxHistory>30</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>[%d{yyyy/MM/dd HH:mm:ss.SSS}][%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
    <append>false</append>
    <prudent>false</prudent>
  </appender>

  <appender name="serviceAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${BasePath}/${BaseName}-service.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${BasePath}/${BaseName}-service.%d{yyyyMMdd}.log</fileNamePattern>
      <maxHistory>30</maxHistory>
    </rollingPolicy>
    <encoder><!-- 必须指定，否则不会往文件输出内容 -->
      <pattern>[%d{yyyy/MM/dd HH:mm:ss.SSS}][%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
    <append>false</append>
    <prudent>false</prudent>
  </appender>

  <logger name="com.baseserver.file" level="DEBUG" additivity="true"/>

  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>